:root {
    --primary-color: #1db954;
    --text-color: #fff;
    --chose-color: #1db954;
    --player-bg: linear-gradient(#000,#333);
    --dashboard-color: #333; 
    --shadow-color: none;
    --shadow-dash-color: none;
    --author-color: #f1f5f9; 
    --theme-button-border: #888;
        --primary-color: #ec1f55;
        --text-color: #333;
        --chose-color: #ec1f55;
        --player-bg: linear-gradient(#fff,#f1f5f9);
        --dashboard-color: #fff;
        --shadow-color: 0 0 20px #ccc;
        --shadow-dash-color: 0 4px 2px -2px #ccc;
        --author-color: #999;
        --theme-button-border: #d3d3d3;
            --primary-color: #0C3569;
            --text-color: #333;
            --chose-color: #0C3569;
            --player-bg: linear-gradient(135deg, #fff,#46F6FF);
            --dashboard-color: linear-gradient(135deg, #fff, #B1FBFF);
            --shadow-color: 0 0 20px #62AFC4;
            --shadow-dash-color: 0 4px 2px -2px #ccsc;
            --author-color: #999;
            --theme-button-border: #d3d3d3;
    /* #ec1f55
    #333
    #ec1f55 */
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#007CF8,#007CF8) 0/var(--sx) 100% no-repeat, #EFEFEF;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    font-family: Arial, Helvetica, sans-serif !important;
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(-225deg,#6157ff,#ee49fd); */
    background-color: #555;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    height: 100%;
    margin: auto;
    background-image: var(--player-bg);
    color: var(--text-color);
    /* box-shadow: 0 0 100px #ccc; */
}

.player .pausing-icon {
    display: none;
}

.playing .playing-icon {
    display: none !important;
}

.playing .pausing-icon {
    display: block !important;
}

.player .dashboard {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    top: 0;
    z-index: 99;
    background-image: var(--dashboard-color) ;
    /* box-shadow: var(--shadow-dash-color); */
}

.player .dashboard header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.player .dashboard h4 {
    color: var(--primary-color);
    font-size: 14px;
}

.player .dashboard .song-infor {
    margin: 16px 0;
    color: var(--text-color);
}

.player .dashboard .song-infor h2 {
    font-size: 20px;
    text-align: center;
    color: var(--text-color);
}
.player .dashboard .song-infor h3 {
    margin-top: 4px;
    font-size: 12px;
    color: #999;
    text-align: center;
    /* font-weight: 400; */
}

.boxx {
    width: 90%;
    background-color: #62D0E1;
    border-radius: 40px;
}

.progress-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.player .volume-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    width: 100%;
    padding: 16px;
}

.volume-btn {
    cursor: pointer;
    height: 20px;
    width: 20px;
    color: var(--text-color);
}

.volume-btn .volume-mute{
    display: none;
}

.mute .volume-mute{
    display: block !important;
}

.mute .volume-icon{
    display: none !important;
}

.player .dashboard .cd {
    width: 325px;
    margin: 16px 0;
}

.player .dashboard .cd-thumb {
    background: url('./img/ToiLaAiTrongEm.png') top center / cover no-repeat;
    padding-top: 100%;
    width: 100%;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.player .dashboard .control {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 72px;
    padding: 36px 0px;
}

.player .dashboard .control .btn{
    display: flex;
    justify-content: space-evenly;
    width: 64px;
    height: 64px;
    cursor: pointer;
    transition: .3s;
}

.control .btn.active {
    color: #fff;
}

/* .player .dashboard .control .btn:hover{
    color:var(--primary-color);
}

.player .dashboard .control .btn-play:hover{
    opacity: .3;
} */

.player .dashboard .control i{
    font-size: 24px;
    line-height: 64px;
}

.player .dashboard .control .btn-play {
    /* position: absolute; */
    background-color: var(--primary-color);
    border-radius: 50%;
}

.player .dashboard .control .btn-play i{
    color: #fff;
    font-size: 24px;
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: var(--primary-color);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin: 24px 0 0px;

    --value: 100;
    --min: 0;
    --max: 100;
}

input[type=range].styled-slider::-webkit-slider-thumb {
   /* -webkit-appearance: none; */
   appearance: none;
   width: 12px;
   height: 12px;
   margin-top: -2.5px;
   border-radius: 50%;
   background-color: var(--primary-color);
   cursor: pointer;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    /* background-color: #fff; */
    cursor: pointer;
 }
 /* input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: max(calc(1em - 1px - 1px),0px);
    border-radius: 0.5em 0 0 0.5em;
    margin: -1px 0 -1px -1px;
    background: #007CF8;
    border: 1px solid #b2b2b2;
    border-right-width: 0;
  } */
/* .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background: #007CF8;
    border: none;
    box-shadow: 0 0 2px black;
    margin-top: calc(max((1em - 1px - 1px) * 0.5,0px) - 2em * 0.5);
}
.progress::-webkit-slider-runnable-track {
    height: 1em;
    border: 1px solid #b2b2b2;
    border-radius: 0.5em;
    background: #EFEFEF;
    box-shadow: none;
} */

.volume {
    width: 50%;
    -webkit-appearance: none;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin: 0 16px;
}
  
.volume::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 12px;
   height: 12px;
   background-color: var(--primary-color);
   border-radius: 10px;
   cursor: pointer;
}

.volume::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    /* margin-top: 0.5px; */
    /* background-color: #fff; */
    cursor: pointer;
    border-radius: 4px;
 }

.playlist {
    width: 90%;
    margin-top: 642px;
    height: 100%;
}

.playlist .song {
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    margin: 16px 0;
    border-radius: 6px;
    box-shadow: var(--shadow-color);
    cursor: pointer;
}

.playlist .song .thumb {
    height: 50px;
    position: relative;
    left: 10px;
}

.playlist .song .body {
    position: relative;
    width: 72%;
    left: 10px;
}

.song .author{
    font-size: 12px;
    color: var(--author-color);
    font-weight: 700;
    margin-top: 4px;
}

.playlist .song .option {
    position: relative;
    width: 30px;
}

.playlist .song .thumb img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.song.active {
    background-color: var(--chose-color);
    box-shadow: 0 0 16px var(--primary-color);
}

.song:active {
    opacity: 0.8;
}

.song.active .option,
.song.active .title {
    color: #fff;
}


.song.active .author {
    color: #fae4e9;
}

.theme-control {
    position: relative;
    width: 80px;
    height: 20px;
}

.theme-icon {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255,255,255,0.4);
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 3px solid  var(--theme-button-border);
}

.theme-icon i {
    position: relative;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    line-height: 40px;
}

.theme-control .night-mode {
    right: 4px !important;
    left: auto;
    transition: 1s;
}